<% include partials/header %>
<link type="text/css" rel="stylesheet" href="/stylesheets/landing.css">
<div id="landing-header">

    <h1>Welcome to RunPro</h1>
    <a class="btn btn-danger" href="/races">View All Races</a>

</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials/footer %>