<% include partials/header %>

<div id="landing-header">

    <h1>Welcome to RunPro</h1>
    <a href="/races">View All Races</a>

</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials/footer %>