<% include partials/header %>

<h1>Create a New Races</h1>

<form action="/races" method="POST">
    <input name="name" type="text" placeholder="Name">
    <input name="image" type="text" placeholder="Image url">
    <button>Add New Race</button>

</form>

<a href="/">back to landing!</a>

<% include partials/footer %>