<% include partials/header %>
<h1>This is the races page!</h1>



<% races.forEach((race) => { %>
    <diva>
        <h4><%= race.name %></h4>
        <img src="<%=race.image %>">
    </div>
<% }); %>

<a href="/races/new">Add New Race</a>

<a href="/">back to landing!</a>

<% include partials/footer %>