<h1>This is the races page!</h1>



<% races.forEach((race) => { %>
    <diva>
        <h4><%= race.name %></h4>
        <img src="<%=race.image %>">
    </div>
<% }); %>

<a href="/">back to landing!</a>